<%- include('includes/head.ejs') %>
    </head>

    <body>
        <form action="/home" method="GET">
            <button type="submit">Go To Home Page</button>
        </form>
        <h1 align=" center">Add Booking</h1>
        <form align=" center" action="/add-booking" method="POST">
            <label for="name">Select Customer:</label>
            <select name="name" id="name">
                <% for(let a of customer){ %>
                    <option>
                        <%= a.dataValues.name; %>
                    </option>
                    <% } %>
            </select>
            <br>
            <br>
            <label for="location">Select Location:</label>
            <select name="location" id="location">
                <% for(let a of location){ %>
                    <option>
                        <%= a.dataValues.name; %>
                    </option>
                    <% } %>
            </select>
            <br><br>
            <label for="shotType">Select shotType:</label>
            <select name="shotType" id="shotType">
                <% for(let a of shotType){ %>
                    <option>
                        <%= a.dataValues.name; %>
                    </option>
                    <% } %>
            </select>
            <br><br>
            <button type="btn">Add</button>
        </form>


        <%- include('includes/end.ejs') %>